<div class="hero-container">
  <div class="bookNowContainer">
    <div fxFlex fxLayoutAlign="flex-end">
      <button class="bookNowButton" mat-stroked-button color="primary">
        Book Now
      </button>
    </div>
  </div>
  <div class="header-container" fxLayout="row" fxLayout="column" fxLayoutAlign="center center">
    <h2 class="mat-display-1">
      Luxury Beach Front Resort 
    </h2>
    <h1 class="mat-display-4">
        Natai Beach <br /> Resort &amp; Spa
    </h1>
  </div>
  <div class="thailand">
    <h3>Thailand</h3>
  </div>
</div>

<section class="home-section">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div>
      <h2 class="mat-subheading-2">Luxury beach front Resort</h2>
    </div>
    <div>
      <h3 class="mat-subheading-3">Asia's Tropical Paradise</h3>
    </div>
    <div>
      <p class="mat-body-1"></p>
    </div>
  </div>
</section>