.hero-container {
    background: url(/assets/images/home_beach.jpg)center center no-repeat;
    background-size: cover;
    /* height: calc(100vh - 145) */
}
.bookNowContainer {
    padding: 35px 115px;
}
.bookNowButton {
    width: 170px;
    color: white;
    border: 1px solid white;
    text-transform: uppercase;
    border-radius: 5px;
}
.header-container {
    padding: 60px 20px;
    text-align: center;
    max-width: 600px;
}

.header-container .mat-display-4 {
    color: white;
}

.header-container .mat-display-1 {
    margin: 10px;
}

.thailand {
    position: relative;
    width: 100%;
    text-align: center;
    transform: translate(-50%, 50%)
}

.thailand h3 {
    -webkit-text-fill-color: transparent;
    background: url(/assets/images/thailand_text_background.jpg)repeat;
    -webkit-background-clip: text;
    background-clip: text;
    font-stretch: normal;
    font-size: 200px;
    letter-spacing: 0.09em;
    font-weight: 500;
    text-transform: uppercase;
    font-family: Rubik, sans-serif;
    top: 50%;
    left: 50%;
    position: relative;
}

.home-section p{
    text-align: center;
    line-height: normal;
}

/* @media all and (min-width: 768px) {
    .hero-container {
      height: 90vh;  
    }
} */

@media all and (max-width: 599px) {
    .header-container .mat-display-1 {
        font-size: 1.1rem;
        line-height: 1.1;
    }

    .header-container .mat-display-4 {
        font-size: 3rem;
        line-height: 1.1;
    }
}