.hero-container {
    background: url(/assets/images/home_beach.jpg)center center no-repeat;
    background-size: cover;
    height: calc(100vh - 145)
}
.bookNowContainer {
    padding: 35px 115px;
}
.bookNowButton {
    width: 170px;
    color: white;
    border: 1px solid white;
    text-transform: uppercase;
    border-radius: 5px;
}
.header-container {
    padding: 60px 20px;
    text-align: center;
    max-width: 600px;
}